#components-collapse-demo-collapsible .ant-space {
    width: 100%;
  }

  .faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .h1 {
    font-size: 20px;
  }

  .p {
    font-size: 20px;
  }
/* Add custom styles for the Collapse component */
.ant-collapse {
    background-color: transparent; /* Remove the default gray background */
  }
  
  /* Add custom styles for the Collapse.Panel component */
  .ant-collapse .ant-collapse-item {
    background-color: transparent; /* Remove the default gray background */
  }
  
  /* Add custom styles for the Collapse.Panel header */
  .ant-collapse .ant-collapse-header {
    background-color: #e6f7ff; /* Set a background color for the panel header */
    border-color: #91d5ff; /* Set a border color for the panel header */
    color: #1890ff; /* Set a text color for the panel header */
  }
  
  /* Add custom styles for the Collapse.Panel content */
  .ant-collapse .ant-collapse-content {
    border-color: #91d5ff; /* Set a border color for the panel content */
  }

  /* Equivalent CSS styles for customPanelStyle object */
.custom-panel {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  /* Equivalent CSS styles */
.custom-panel {
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  .custom-panel .ant-collapse-header {
    font-weight: bold; /* Make the label text bold */
    font-size: 16px;
  }
  
  .custom-panel p {
    font-size: 16px; /* Increase the text size of <p> tag */
  }
  
  @media screen and (max-width: 767px) {
    .form-container {
      max-width: 100%;
    }
    .contact-container {
      flex-direction: column;
      margin-bottom: 20px; /* Add margin-bottom for spacing between sections */
    }
    .image-container {
      margin-right: 0; /* Remove margin-right on smaller screens */
      margin-bottom: 20px; /* Add margin-bottom for spacing between sections */
    }
  }
  
  
  